<style>
    h1, h6 {
        font-size: 70;
        display: inline;
        text-align: center;
    }

    h6 {
        font-size: large;
        font-weight: normal;
        font-style: italic;
    }

    p {
        fond-size: large;
    }
</style>

<h1>Welcome to YouChat!</h1><br>
<h6>The premier messaging online chat platform</h6>

<br><br>

<form action="/chat" method="get" accept-charset="utf-8">
    <label>What's your name:
        <p>
            <input name="name"/>
        </p>
    </label>
    <input type="submit" value="Submit">
</form>
