[package]
name = "sesame_rocket"
version = "0.1.0"
authors = ["Kinan Dak Albab <kinan_dak_albab@alumni.brown.edu>"]
edition = "2018"

[lib]
name = "sesame_rocket"
path = "src/lib.rs"

[dependencies]
sesame = { path = "../core" }

async-trait = { version = "0.1.79" }
cookie = { version = "0.15", features = ["percent-encode"] }
chrono = "^0.4"
dynfmt = { version = "0.1.5", features = ["curly"] }
erased-serde = "0.3.25"
figment = "0.10.6"
futures = "0.3.17"
indexmap = "1.7.0"
rocket = { git = "https://github.com/KinanBab/Rocket.git", branch = "main", features= ["json"] }
rocket_cors = { git = "https://github.com/KinanBab/rocket_cors.git", branch = "main" }
rocket_firebase_auth = { git = "https://github.com/22ridley/rocket-firebase-auth.git" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
time = { version = "0.2.11", default-features = false, features = ["std"] }

# Optional dependencies.
sesame_derive = { path = "../derive", optional = true }
sesame_mysql = { path = "../mysql", optional = true }
sea-orm-rocket = { git = "https://github.com/KinanBab/sea-orm.git", branch = "main", optional = true }

[dev-dependencies]
sesame_rocket = { path = ".", features = ["derive", "mysql"]}
mysql = "21.0.2"

[dependencies.rocket_dyn_templates]
git = "https://github.com/KinanBab/Rocket.git"
branch = "main"
features = ["handlebars", "tera"]

[dependencies.handlebars]
version = "3.5.5"
features = ["dir_source"]

[features]
default = ["derive"]
derive = ["sesame_derive"]
orm = ["sea-orm-rocket"]
mysql = ["sesame_mysql"]