{{#*inline "page"}}
<h1>Lecture {{{ lec_id }}} Predict</h1>

<h2>Enter time for submission to Lecture {{{ lec_id }}}</h2>
<form action="/predict/predict_grade/{{{ lec_id }}}" method="post" accept-charset="utf-8">
    <p>
        <label>Time: <input name="time"/>
        </label>
    </p>

    <input type="submit" value="Submit time">
</form>
{{/inline}}
{{~> (parent)~}}